.custom-orange {
    background-color: #ff7d19;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}
.btn-outline-warning {
    color:  #ff7d19;
    border-color:  #ff7d19;
}
.btn-outline-warning:hover {
    color: rgba(0,0,0,.9);
    background-color: #ff7d19;
}
.green {
    background-color: green;
}
#area {
    margin: 0 auto;
    height:800px;
    max-height: 800px;
    margin-top: 50px;
}
.target {
    height:100px;
    width:100px;
    background-color: #ff7d19;
    text-align: center;
    position: absolute;
}